<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">



            <table class="table table-bordered table-striped-columns">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Avathar</th>
                    
                    
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  
                    <tr *ngFor="let i of userData.data">
                    <td>{{i.id}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.first_name}}</td>
                    <td>{{i.last_name}}</td>
                    <td><img src="{{i.avatar}}" class="img-fluid" alt="..."></td>
                  
                    


                    
                      
                  </tr>
                </tbody>
              </table>
            






        </div>
    </div>
</div>




